@import "tailwindcss";
@import "tw-animate-css";


:root {
    --background: oklch(14.1% 0.005 285.823);
    --secondary-background: oklch(20.5% 0 0);
    --foreground: oklch(100% 0 0);
    --main-foreground: oklch(0% 0 0);
    --main: oklch(98.5% 0 0);
    --border: oklch(100% 0 0);
    --ring: oklch(100% 0 0);
    --shadow: 4px 4px 0px 0px var(--border);

    --gradiant: repeating-linear-gradient(
          45deg,
          oklch(14.1% 0.005 285.823),
          oklch(14.1% 0.005 285.823) 10px,
          oklch(98.5% 0 0) 10px,
          oklch(98.5% 0 0) 20px
        );
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@theme inline {
    --color-brand: var(--color-prim);
    --color-brand-fg: var(--color-text);

    --color-main: var(--main);
    --color-background: var(--background);
    --color-secondary-background: var(--secondary-background);
    --color-foreground: var(--foreground);
    --color-main-foreground: var(--main-foreground);
    --color-border: var(--border);
    --color-overlay: var(--overlay);
    --color-ring: var(--ring);

    --spacing-boxShadowX: 4px;
    --spacing-boxShadowY: 4px;
    --spacing-reverseBoxShadowX: -4px;
    --spacing-reverseBoxShadowY: -4px;
    --radius-base: 4px;
    --shadow-shadow: var(--shadow);
    --font-weight-base: 500;
    --font-weight-heading: 700;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Lato", sans-serif;
    background-color: oklch(14.1% 0.005 285.823);
    /* Dot grid pattern */
    background-image: radial-gradient(white 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
    /* Dot grid pattern */
}


[data-platform="TWITCH"] {
    --color-prim: #6441a5;
    --color-text: #fff;
    --color-sec: #3e1984;
    --color-acc: #8149e7;
}

[data-platform="TWITTER"] {
    --color-prim: #fff;
    --color-text: #fff;
    --color-sec: #235e82;
    --color-acc: #2598df;
}

[data-platform="KICK"] {
    --color-prim: #00e701;
    --color-text: #000;
    --color-sec: #386638;
    --color-acc: #5db25d;
}

[data-platform="YOUTUBE"] {
    --color-prim: #FF0000;
    --color-text: #fff;
    --color-sec: #713939;
    --color-acc: #b64c4c;
}
