:root {
    --color-bg: #050705;
    --color-bg2: #252c2a;
    --color-bg3: #405151;
    --color-fg: #eff2ef;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-size: 10px;
    transition: all .3s ease-out;
}


/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: "Lato", sans-serif;
    background-color: var(--color-bg);
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar, 
.message-list::-webkit-scrollbar, 
ul:has(.streamer-list)::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html, .message-list, ul:has(.streamer-list) {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

[data-platform="TWITCH"] {
    --color-prim: #6441a5;
    --color-sec: #3e1984;
    --color-acc: #8149e7;
}

[data-platform="TWITTER"] {
    --color-prim: #1DA1F2;
    --color-sec: #235e82;
    --color-acc: #2598df;
}

[data-platform="KICK"] {
    --color-prim: #00e701;
    --color-sec: #386638;
    --color-acc: #5db25d;
}

[data-platform="YOUTUBE"] {
    --color-prim: #FF0000;
    --color-sec: #713939;
    --color-acc: #b64c4c;
}

.container {
    background-color: var(--color-bg);
    color: var(--color-fg);
    width: 100vw;
    font-size: 2rem;
}

/* SearchBar */
.header {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 30vh;
    background-image: var(--color-gradiant);
}

.header_group {
    width: 40vw;
    border: 4px solid var(--color-prim);
    border-radius: 8px;
    background-color: var(--color-prim);
    box-shadow: 0 0 1000px 1px var(--color-prim);
}

.input-contianer {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 8px 8px 8px 0;
    background-color: var(--color-bg);
    user-select: none;
    padding-left: 2rem;
}

.icon {
    display: grid;
    place-items: center;
    color: var(--color-acc);
}

.icon_menu {
    display: flex;
    gap: 1rem;
    width: min-content;
    border-radius: 0 0 8px 8px;
    background-color: var(--color-bg);
    padding: 1rem;
}

.icon_menu_item {
    cursor: pointer;
}

.icon_menu_item span {
    display: grid;
    place-items: center;
    color: var(--color-acc);
}

.streamer-form {
    display: flex;
    align-items: center;
    width: 100%;
}

.streamer-form button {
    padding: 1rem 2rem;
    cursor: pointer;
    color: var(--color-sec)
}

.streamer-input {
    width: 100%;
    border-radius: 8px;
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding-right: 2rem;
    border: none;
    padding: 1rem 2rem;
    outline: none;
}
/* SearchBar */

/* ChatRouter */
.chat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    width: 98vw;
}
/* ChatRouter */

/* Chat */
.chat {
    flex: 0 1 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 800px;
    border-radius: 8px;
    border: 2px solid #111;
    background-color: #111;
    box-shadow: -8px 0 1px 0 #111;
}

ul:has(.streamer-list) {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    background-color: #111;
    width: 100%;
    overflow-x: scroll;
    user-select: none;
}

.streamer-list {
    display: flex;
    align-items: center;
    gap: .5rem;
    border-radius: 8px;
    padding: .5rem 1rem;
}
.streamer-list:hover,
.streamer-list:focus {
    background-color: #1a1a1a;
    font-weight: bold;
    cursor: pointer;
}

.message-list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 8px;
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
    padding: .5rem 1rem;
    overflow-y: auto;
    text-wrap: pretty;
}

.message {
    display: flex;
    flex-wrap: wrap;
    color: var(--color-fg);
}

.message-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    color: var(--color-fg);
    padding-left: .5rem;
}

.message-content span, 
.message-content img {
    padding-left: .5rem;
}

.mini-icon {
    display: grid;
    place-items: center;
    color: var(--color-acc);
    font-size: 12px;
}
/* Chat */
